<!DOCTYPE html>
{% load django_popup_view_field_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Project AIRES{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="#"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'web:index' %}">Project AIRES</a>
        </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Inicio</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <li>  

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
                <ul class="nav navbar-nav navbar-right">
                 <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true" name="notificaciones"></span>&nbsp;
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" name="informacion"></span>&nbsp;
                    </a>
                </li>
                <li class="dropdown">  
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user" name="usuario"></span>&nbsp;
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'web:mi_perfil_usuario' %}">Mi Perfil</a></li>
                        <li><a href="#">-</a></li>
                        <li><a href="{% url 'web:logout_user' %}">Salir</a></li>
                    </ul>
                 </li>    
            </ul>
            </li>  
        </div><!--/.nav-collapse -->
      </div>      
    </nav>    
    </br>
    </br>
    </br>
    {% block body %}
    {% endblock %}
    <footer class="footer">
        <div class="container">
            {% block footer %}
                <p class="text-muted">Contenido del Pie.</p>
            {% endblock %}        
        </div>
    </footer>
    {% django_popup_view_field_javascript %}
</body>
</html>
